includes:
    - vendor/timeweb/phpstan-enum/extension.neon

parameters:
    tmpDir: build/cache/phpstan
    level: 6
    paths:
        - src/main
        - src/test
    ignoreErrors:
           -
             message: '#Constructor of class [a-zA-Z0-9_\\]+ has an unused parameter \$[a-zA-Z0-9_]+.#'
             path: src/main/Model/*